.input {
  background-color: var(--dark);
  display: flex;
  height: 53px;
  color: #fff;
  padding: 0 0.5rem;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  width: 100%;
}

.input:focus {
  outline: 1px solid white;
}
